body {
    font-family: Roboto, sans-serif;
    margin: 0;
}
/* general caracteristics */
.header,
.hero,
.cards-section,
.quote-section,
.footer,
.call-section {
    padding: 0 15%;
}

.header,
.hero,
.call-section,
.footer {
    display: flex;
}

.hero,
.cards-section,
.quote-section,
.call-section {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* shared fonts */
.secondary,
.header ul li {
    font-size: 18px;
}

.hero .main,
.header .logo,
.hero .content button {
    color: #F9FAF8;
}

.header ul li,
.hero .secondary {
    color: #E5E7EB;
}

/* div colors */

.header,
.hero,
.footer {
    background-color: #1F2937;
}


/* header specific */
.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

/* hero specific */
.hero {
    justify-content: space-between;
    align-items: stretch;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    margin-right: 20px;
}

.hero-image {
    display: flex;
}

.hero-image img {
    width: 100%;
    height: auto;
    max-width: 700px;
    flex-shrink: 1;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 10px 0;
    padding: 0;
    max-width: 240px;
}

.hero .content button {
    margin-top: auto;
    background-color: #3882F6;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    padding: 8px;
    border-radius: 7px;
}

/* cards specific */
.cards-section {
    text-align: center;
}

.cards-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 150px;
    max-height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.card-img {
    background-color: #E5E7EB;
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

/* Quote specific */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-section .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin: 0 0 20px 0;
}

.quote-section .autor {
    font-weight: bolder;
    font-size: 20px;
    align-self: flex-end;
    margin: 0;
}

/* call to action specific */

.call-section .box {
    background-color: #3882F6;
    padding: 50px;
    height: 150px;
    box-sizing: border-box;
    align-self: center;
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.call-section .text {
    align-self: center;
}

.call-section .box .call {
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 4px 0;
    color: #F9FAF8;
}

.call-section .box .call-description {
    font-size: 16px;
    margin: 0;
    color: #E5E7EB;
}

.call-section button {
    background-color: #3882F6;
    align-self: center;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: bolder;
}

/* footer specific */

.footer {
    color: #F9FAF8;
    height: 50px;
    justify-content: center;
    align-items: center;
}

