/* general */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* flex containers */
 
.header,
.header ul,
.hero,
.hero .content,
.cards-section,
.cards-section .cards,
.quote-section,
.call-section,
.call-section .box,
.footer {
    display: flex;
}

.hero,
.cards-section,
.quote-section,
.call-section {
    box-sizing: border-box;
    height: 400px;
    justify-self: stretch;
    padding: 0 15%;
}

/* Section colors */

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

/* header */

.header {
    box-sizing: border-box;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    gap: 15px;
    color: #E5E7EB;
    font-size: 18px;
}

/* hero */

.hero {
    justify-content: space-between;
    align-items: center;
}

.hero .content {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
}

.hero h1 {
    margin: 0 0 10px 0;
    width: 200px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

.hero button {
    margin-top: auto;
    padding: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.hero .image {
    height: 300px;
    width: 754px;
    flex: initial;
    display: flex;
    align-items: center;
}

.hero img {
    height: auto;
    width: 100%;
}

/* cards */

.cards-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards-section h2 {
    margin: 50px 0 25px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards-section p {
    font-size: 18px;
    color: #1F2937;
    margin: 8px 0 0 0;
}

.cards-section .cards {
    display: flex;
    width: 100%;
    flex: 1;
    gap: 12px;
    margin-bottom: 50px;
}

.cards-section .cards .card {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.cards-section .card .card-img {
    background-color: #E5E7EB;
    border: 2px solid #3882F6;
    border-radius: 12px;
    width: 100%;
    flex: 1 1 auto;
    max-width: 200px;
    margin: 0 auto;
}

/* quote */

.quote-section {
    flex-direction: column;
    justify-content: center;
}

.quote-section .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin: 0 0 20px 0;
}

.quote-section .autor {
    font-weight: bolder;
    font-size: 20px;
    align-self: flex-end;
    margin: 0;
}

/* call-to-action */

.call-section {
    justify-content: center;
    align-items: center;
}

.call-section .box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 40px 12% 40px 12%;
    background-color: #3882F6;
    border-radius: 10px;;
}

.call-section .box .call {
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 4px 0;
    color: #F9FAF8;
}

.call-section .box .call-description {
    font-size: 16px;
    margin: 0;
    color: #E5E7EB;
}

.call-section button {
    background-color: #3882F6;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
}

/* footer */

.footer {
    color: #F9FAF8;
    height: 50px;
    justify-content: center;
    align-items: center;
}